@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap') ;
:root {
--green : #27ae60;
--black : #192a56;
--light-color : #666;
--box-shadow : 0 0.5rem 1.5rem rgb(0, 0, 0, 0.1);
}
.container {
min-height : 40px;
}
* {
font-family : 'Nunito', sans-serif;
margin : 0;
padding : 0;
box-sizing : border-box;
text-decoration : none;
outline : none;
border : none;
text-transform : capitalize;
transition : all 0.2s linear;
}
html {
font-size : 62.5%;
overflow-x : hidden;
scroll-padding-bottom : 5.5rem;
scroll-behavior : smooth;
}
section {
padding : 2rem 9%;
}
section:nth-child(even) {
background : #eee;
}
.sub-heading {
text-align : center;
color : var(--green);
font-size : 2rem;
padding-top : 1rem;
}
.heading {
text-align : center;
color : var(--black);
font-size : 3rem;
padding-bottom : 2rem;
text-transform : uppercase;
}
.btn {
margin-top : 1rem;
display : inline-block;
font-size : 1.7rem;
color : #fff;
background : linear-gradient(to right, #fb5283, #ff3527);
border-radius : 0.5rem;
cursor : pointer;
padding : 0.8rem 3rem;
}
.btn:hover {
background : linear-gradient(to right, #fb5283, #ff3527);
letter-spacing : 0.1rem;
}
.GameCreation .row {
display : flex;
flex-wrap : wrap;
gap : 1.5rem;
align-items : center;
}
.GameCreation .row .image {
flex : 1 1 45rem;
}
.GameCreation .row .image img {
width : 50%;
}
.GameCreation .row .content {
flex : 1 1 45rem;
}
.GameCreation .row .content h2 {
    color : var(--black);
    font-size : 5rem;
    padding : 0.5rem 0;
    }
.GameCreation .row .content h3 {
color : var(--black);
font-size : 2rem;
padding : 0.5rem 0;
}
.GameCreation .row .content .icons-container {
display : flex;
gap : 1rem;
flex-wrap : wrap;
padding : 1rem 0;
margin-top : 0.5rem;
}
.GameCreation .row .content .icons-container .icons {
background : #eee;
border-radius : 0.5rem;
border : rgb(0, 0, 0, 0.2) solid 0.1rem;
display : flex;
align-items : center;
justify-content : center;
gap : 1rem;
flex : 1 1 17rem;
padding : 1.5rem 1rem;
}
.GameCreation .row .content .icons-container .icons i {
font-size : 2.5rem;
color : var(--green);
}
.GameCreation .row .content .icons-container .icons span {
font-size : 1.5rem;
color : var(--black);
}
.maps .box-container {
display : grid;
/* grid-template-columns : repeat(auto-fit,minmax(30rem,1fr)); */
grid-template-columns: 1fr 1fr 1fr;
gap : 1.5rem;
}



.maps .box-container .box {
background : #fff;
border : rgb(0, 0, 0, 0.2) solid 0.1rem;
border-radius : 0.5rem;
max-width: 30vp;

}
.delete{
  max-width: 40px;
  margin-left: 10px;
  margin-top: 10px;
}
.editer{
  max-width: 60px;
  margin-left: 10px;
  margin-top:10px ;
}
.maps .box-container .box .image {
height : 25rem;
width : 100%;
padding : 1.5rem;
overflow : hidden;
position : relative;
}
.maps .box-container .box .image img {
height : 100%;
width : 100%;
border-radius : 0.5rem;
object-fit : scale-down;
}
.maps .box-container .box .image .fa-heart {
position : absolute;
top : 2.5rem;
right : 2.5rem;
height : 5rem;
width : 5rem;
line-height : 5rem;
text-align : center;
font-size : 2rem;
background : #fff;
border-radius : 50%;
color : var(--black);
}
.maps .box-container .box .image .fa-heart:hover {
background-color : #27ae60;
color : #fff;
}
.maps .box-container .box .content {
padding : 2rem;
padding-top : 0;
}
.maps .box-container .box .content .stars {
padding-bottom : 1rem;
}
.maps .box-container .box .content .stars i {
font-size : 1.7rem;
}
.maps .box-container .box .content h3 {
font-size : 2.5rem;
}
.maps .box-container .box .content p {
color : var(--light-color);
font-size : 1.6rem;
padding : 0.5rem 0;
line-height : 1.5;
}
.maps .box-container .box .content .PlayersOnMap {
margin-left : 1rem;
font-size : 2.5rem;
}
@media (max-width: 991px) {
html {
font-size : 55%;
}
header {
padding : 1rem 2rem;
}
section {
padding : 2rem;
}
}






.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  
    display: none;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100%;
  
    background: hsla(0, 0%, 40%, .6);
  }
  
  /* using :target */
  .modal-container:target {
    display: flex;
  }
  
  .modal {
    width: 60rem;
    padding: 4rem 2rem;
    border-radius: .8rem;
  
    color: var(--light);
    background: white;
    box-shadow: .4rem .4rem 2.4rem .2rem #ff3527;
    position: relative;
  
    overflow: hidden;
  }
  
  .modal__details {
    text-align: center;
  
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .4);
  }

  .modal__details .melement{
      padding: 100,0,10,0;

  }

  
  .modal__title {
    font-size: 3.2rem;
  }
  
  .modal__description {
    margin-top: 2rem;
  
    font-size: 1.6rem;
    font-style: italic;
  }
  
  .modal__text {
    padding: 0 4rem;
    margin-bottom: 4rem;
  
    font-size: 1.6rem;
    line-height: 2;
  }
  
  .modal__text::before {
    content: '';
  
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
  
    width: 18rem;
    height: 18rem;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 100rem;
  
    pointer-events: none;
  }
  
  
  
  /* links */
  /* =============================================== */
  .link-1 {
    font-size: 1.8rem;
  
    color: var(--light);
    background: var(--background);
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
    border-radius: 100rem;
    padding: 1.4rem 3.2rem;
  
    transition: .2s;
  }
  
  .link-1:hover,
  .link-1:focus {
    transform: translateY(-.2rem);
    box-shadow: 0 0 4.4rem .2rem hsla(236, 50%, 50%, 0.4);
  }
  
  .link-2 {
    width: 4rem;
    height: 4rem;
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: 100rem;
  
    color: inherit;
    font-size: 2.2rem;
  
    position: absolute;
    top: 2rem;
    right: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: .2s;
  }
  
  .link-2::before {
    content: '×';
  
    transform: translateY(-.1rem);
  }
  
  .link-2:hover,
  .link-2:focus {
    border-color: hsla(0, 0%, 100%, .6);
    transform: translateY(-.2rem);
  }
  
  @media only screen and (max-width:700px){
    .maps .box-container {
  
      display: grid;
           grid-template-columns: 1fr 1fr;
     
      }
  }




